<ion-content class="ion-padding">
  <h2 class="headline">Dein Fortschritt der letzten 7 Tage</h2>
  <div class="chart-row">
    <div class="chart-card">
      <canvas baseChart
        [data]="caloriesChartData"
        [type]="'line'"
        [options]="caloriesChartOptions">
      </canvas>
    </div>
    <div class="chart-card">
      <canvas baseChart
        [data]="macroChartData"
        [type]="'bar'"
        [options]="macroChartOptions">
      </canvas>
    </div>
    <div class="chart-card">
      <canvas baseChart
        [data]="waterChartData"
        [type]="'line'"
        [options]="waterChartOptions">
      </canvas>
    </div>
  </div>
</ion-content>
