<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ernährungspläne</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ernährungspläne</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ernaehrungsplaene-img-container">
    <img src="assets/ernaehrungsplaene_demo.png" alt="Ernährungspläne - Vorschau" />
    <p class="info-text">Hier werden später individuelle Ernährungspläne angezeigt.</p>
  </div>
</ion-content>
