:host {
  display: block;
  height: 100%;
  overflow-y: auto;
}

.ernaehrungsplaene-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem 2rem;
}

.ernaehrungsplaene-img-container img {
  max-width: 90vw;
  max-height: 60vh;
  border-radius: 16px;
}

.info-text {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
}

ion-card {
  background: #2b3846 !important;  
  color: #f1f5fa !important;         
  border-radius: 10px;               
  box-shadow: 0 2px 8px rgba(30,40,60,0.16);  
}