<div class="chatbot-container">
  <div class="chat-history" #chatHistory>
    <div *ngFor="let msg of messages" [ngClass]="{'user-msg': msg.from === 'user', 'bot-msg': msg.from === 'bot'}">
      <ng-container *ngIf="msg.from === 'bot'; else userTpl">
        <markdown [data]="msg.text"></markdown>
      </ng-container>
      <ng-template #userTpl>
        <div style="white-space: pre-line">{{ msg.text }}</div>
      </ng-template>
    </div>
  </div>
  <form (submit)="sendMessage()" class="chat-input-row">
    <ion-item lines="none" class="chat-input">
      <ion-input
        [(ngModel)]="currentMessage"
        name="chatInput"
        placeholder="Nachricht an den Coach..."
        required
        (keyup.enter)="sendMessage()"
        autocomplete="off"
      ></ion-input>
      <ion-button type="submit">Absenden</ion-button>
    </ion-item>
  </form>
</div>
