<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title slot="start" class="ion-text-center" style="width: 100%;">
        NutriCoach
      </ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/chatbot" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:true}">
          Ernährungscoach
        </ion-button>
        <ion-button routerLink="/fortschritt" routerLinkActive="selected">
          Fortschritt
        </ion-button>
        <ion-button routerLink="/ernaehrungsplaene" routerLinkActive="selected">
          Ernährungspläne
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>
